html, body{
    height: 100%;
}


body {
    margin: 0;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    font-size: 6vh;
}

.content{
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50vh, 1fr));
    grid-template-rows: auto;
    gap: 1vh;
    justify-items: center;
    padding-top: 2vh;
}

.card {
    background-color: red;
    width: 50vh;
    height: 30vh;
}